.coin-title{
    text-align: center;
}



.form-center {
    display: block;
    text-align: center;

}
login {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}




.follow_img {
    cursor: pointer;
    transition: 0.2s linear;
    
}

.follow_img:hover{
    filter: hue-rotate(90deg);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
