.coin-title{
    text-align: center;
}

.iconimg {
    margin-left: 10px !important;
    padding: 10px !important;
}

.frontpage .jumbotron-fluid {
    background-image: url("../homepage2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}


.secondblock .jumbotron-fluid {
    background-image: url("../watchart.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.cards .jumbotron-fluid {
    background-color: transparent !important;
}

.cards .row .card{
    border-radius: 5px;
    margin-left: 55px;
}

.nounderline {
    text-decoration: none !important;
}

.footer {
    height: 20px !important;
    width: 30px !important;
}

.form-center {
    display: block;
    text-align: center;

}

.login {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.registration .container {
    display: inline-block;
    padding: 40px;
}



.follow_img {
    cursor: pointer;
    transition: 0.2s linear;
    
}

.follow_img:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
