{% extends "base.html" %}


{% block content %}
<h1 class="text-center">About Coinwatch</h1>

<body>
    <div class="about" align="center">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h4> How it works </h4>
                        <p> Coinwatch was made to assist Cryptocurrency enthusiasts in keeping track of
                        their favorite coins. Here we provide up to date data on the most popular
                        coins on the market!</p>
                    </div>
                    <div class="col-sm">
                        <i class="fas fa-hands" style="font-size:150px" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <h4> Market </h4>
                        <p> Coinwatch provides a live market tracker that shows the price changes,
                        market cap, graphs in up to 7 days interval</p>
                    </div>
                    <div class="col-sm">
                        <i class="fas fa-search-dollar" style="font-size:150px" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <h4> Current Prices </h4>
                        <p> Want to know what the current price of your favorite coin is? Coinwatch
                        provides the live prices for a large number of coins and all at one place.
                        Stay up to date with the current trends in both prices and the market.</p>
                    </div>
                    <div class="col-sm">
                        <i class="fas fa-dollar-sign" style="font-size:150px" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <h4> Graphs </h4>
                        <p> Coinwatch aids users in showing data from the past 7 days for almost
                        all of its coins. Simply hover over to the market and click on your desired
                        coin to find out more on the graph.</p>
                    </div>
                    <div class="col-sm">
                        <i class="fas fa-chart-line" style="font-size:150px" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



{% endblock %}
