{% extends "base.html" %}
 
{% block content %}
<h2>This is coin page</h2>
<table style="width:50%" class="table table-hover table-light text-center
    table-bordered" align="center" style="margin: 0px auto;">
    <thead>
        <tr>
            <th scope="col">Rank #</th>
            <th scope="col"> Coin </th>
            <th scope="col">    </th>
            <th scope="col">    </th>
            <th scope="col"> Current Price </th>
            <th scope="col"> Price Change 24h </th>
            <th scope="col"> Market Cap </th>
        </tr>
    </thead>
    <tbody>
        {% for k in coins.items %}
        <tr key = {{k.name}}></td>
            <td>{{  k.market_cap_rank }}</td>
            <td>{{  k.name }}</td>
            <td><img src="{{k.image}}" alt="" border=3 width=20 height=20></img></td>
            <td><span style="text-transform:uppercase"> {{ k.symbol }} </span></td>
            <td>{{ k.current_price | currency_format() }}</td>
            <td>{{  k.price_change_24h}}</td>
            <td>{{  k.market_cap | number_format() }}</td>
        {% endfor %}
        </tr>
    </tbody>
</table>





















<!-- Pagination -->
<div class="text-right">
    <a href="{{ url_for('coins', page=coins.prev_num) }}"
       class="btn btn-outline-dark
        {% if coins.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    {% for page_num in coins.iter_pages(left_edge=1, right_edge=1,
    left_current=1, right_current=2) %}

    {% if page_num %}
        {% if coins.page == page_num %}
        <a href="{{ url_for('coins', page=page_num) }}"
           class="btn btn-dark">
            {{ page_num }}
        </a>
        {% else %}
        <a href="{{ url_for('coins', page=page_num) }}"
           class="btn btn-outline-dark">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        {% endif %}
        {% endfor %}
        
        <a href="{{ url_for('coins', page=coins.next_num) }}"
           class="btn btn-outline-dark
                        {% if coins.page == coins.pages %}disabled{% endif %}">
            &raquo;
        </a>
</div>
<p class="text-right mt-3">
    Showing Page {{ coins.page }} of {{ coins.pages }}
</p>





{% endblock %}
