{% extends "base.html" %}
 
{% block content %}
<div class="text-center m-5">
    <h2>Cryptocurrency Prices</h2></div>
<table style="width:60%" class="table table-hover table-light text-center
    table-bordered" align="center" style="margin: 0px auto;">
    <thead>
        <tr>
            {% if not current_user.is_anonymous %}
            <th scope="col">    </th>
            {% endif %}
            <th scope="col">Rank #</th>
            <th scope="col"> Coin </th>
            <th scope="col">    </th>
            <th scope="col">    </th>
            <th scope="col"> Current Price </th>
            <th scope="col"> Price Change 24h </th>
            <th scope="col"> Price Change 7d</th>
            <th scope="col"> Market Cap </th>
        </tr>
    </thead>
    <tbody>
        {% for k in coins.items %}
        <tr key = {{k.name}}></td>
            {% if not current_user.is_anonymous %}
            <td>
                <div class="follow_img">
                {% if current_user.is_following(k) %}
                <a href="{{url_for('follow', coin_id=k.id, action='unfollow')}}">
                    <img src="{{ url_for('static', filename='eyewatch2.png')}}"
                         alt="" border=3 width=25 height=15></img></a></div></td>
                {% else %}
                
                    <a href="{{url_for('follow', coin_id=k.id, action='follow')}}">
                    <img src="{{ url_for('static', filename='eyewatch3.png')}}"
                         alt="" border=3 width=25 height=15></img></a></div>
                </td>
             {% endif %} 
            {% endif %}
            
            <td>{{  k.market_cap_rank }}</td>
            <td><a href="{{url_for('coin_page', coin_id=k.id)}}">{{  k.name }}</a></td>
            <td><img src="{{k.image}}" alt="" border=3 width=20 height=20></img></td>
            <td><span style="text-transform:uppercase"> {{ k.symbol }} </span></td>
            <td>{{ k.current_price | currency_format() }}</td>
            <td>{{  k.price_change_24h | percent_color_format() }}</td>
            <td>{{  k.price_change_7d | percent_color_format() }}</td>
            <td>{{  k.market_cap | number_format() }}</td>
        {% endfor %}
        </tr>
    </tbody>
</table>





















<!-- Pagination -->
<div class="text-center">
    <a href="{{ url_for('coins', page=coins.prev_num) }}"
       class="btn btn-outline-dark
        {% if coins.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    {% for page_num in coins.iter_pages(left_edge=1, right_edge=1,
    left_current=1, right_current=2) %}

    {% if page_num %}
        {% if coins.page == page_num %}
        <a href="{{ url_for('coins', page=page_num) }}"
           class="btn btn-dark">
            {{ page_num }}
        </a>
        {% else %}
        <a href="{{ url_for('coins', page=page_num) }}"
           class="btn btn-outline-dark">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        {% endif %}
        {% endfor %}
        
        <a href="{{ url_for('coins', page=coins.next_num) }}"
           class="btn btn-outline-dark
                        {% if coins.page == coins.pages %}disabled{% endif %}">
            &raquo;
        </a>
</div>
<p class="text-center mt-3">
    Showing Page {{ coins.page }} of {{ coins.pages }}
</p>





{% endblock %}
