{% extends "base.html" %}


{% block content %}
<h2>This is coin page</h2></p>
<table style="width:50%">
    <thead>
        <tr>
            <th> Rank </th>
            <th> Coin </th>
            <th>    </th>
            <th> Current Price </th>
            <th> Price Change 24h </th>
            <th> Market Cap </th>
        </tr>
    </thead>
    <tbody>

        {% for k in res %}
        <tr key = {{k.name}}></td>
            <td>{{  k.market_cap_rank }}</td>
            <td>{{  k.name }}</td>
            <td>{{  k.symbol }}</td>
            <td>{{  k.current_price   }}</td>
            <td>{{  k.price_change_24h}}</td>
            <td>{{  k.market_cap   }}</td>
        {% endfor %}
        </tr>
    </tbody>
</table>
































{% endblock %}
