{% extends "base.html" %}
{% block content %}
<div class="frontpage">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-6 text-right">Welcome to CoinWatch</h1>
            <p class="lead text-right">Your aid in tracking Cryptocurrency</p>
        </div>
    </div>
</div>

<div class= "cards">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-center">
            <img src="{{ url_for('static', filename='eyewatch3.png')}}"
            height=30 width=50> Watcher is here to help you get started</img></h1>
            <div class="row">
                <div class="card border-light shadow text-white bg-success mb-3" style="max-width: 20rem;">
                    <a class="nounderline" role="button"
                        href="{{url_for('about')}}">
                        <h4 class="card-body text-white text-center">How does this all work ?</h4>
                    </a>
                </div>
                <div class="card border-light shadow text-white bg-info mb-3" style="max-width: 20rem;">
                    <a class="nounderline" role="button" href="{{url_for('coins')}}">
                        <h4 class="card-body text-white text-center">Show me the live cryptocurrency market</h4>
                    </a>
                </div>
                <div class="card border-light shadow text-white bg-warning mb-3" style="max-width: 20rem;">
                    <a class="nounderline" role="button" href="{{url_for('register')}}">
                        <h4 class="card-body text-white text-center">I'm ready to sign up!</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
